div[ng-app]
{ margin: 50px; }
.title{
	
	font-size: 20px;
	
}
textarea {
    border: none;
   overflow: hidden;
    outline: none;
	resize: none;
	 width: 600px;
	
	

}


.navbar-center
{
   position: absolute;
   width: 100%;
   left: 0;
   text-align: center;
   margin: auto;
	font-size: 20px;
}
a{
	
	text-decoration: none !important;
	 cursor: pointer;
	
	
}
#map {
    height:420px;
    width:600px;
}
.ui-sortable tr {
    cursor:pointer;
}   