<html ng-app="app">

<head>
	<title> MyApp</title>
	<link href="css/style.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<script src="libs/jquery-1.10.2.min.js"></script>
	<script src="libs/jquery-ui.js"></script>
	<script src="libs/angular.min.js"></script>
	<script src="libs/angular-ui.min.js"></script>
	<script src="app.js"></script>
	<script src="controller.js"></script>


</head>

<body ng-controller='Ctrl'>
	<nav class="navbar navbar-default ">
		<div class="container">
			<div class="navbar-header navbar-center">
				<b> Prons and Cons application</b>

			</div>
		</div>
	</nav>
	<div class="container">
		
		<a class="title" ng-click="ShowHideSubject()" ng-hide="IsVisibleSubject">{{app.subject}}</a>
		<label ng-show="IsVisibleSubject">Subject:-{{subject}}</label>
		<textarea ng-show="IsVisibleSubject" ng-enter="hideSubjectTextArea()" ng-hide="!IsVisibleSubjectTextArea"  onkeyup="this.style.height='24px'; this.style.height = this.scrollHeight + 12 + 'px';" ng-model="subject" class="form-control"></textarea>
		

		<br/>
		<div class="table ">
			<table border="2" class="table">
				<tr>
					<th>Prons</th>
					<th>Cons</th>

				</tr>
				<tr>
					<td>

						<a class="title" ng-click="ShowHidePronsTitle()" ng-hide="IsVisiblePronsTitle">{{app.title.prons}}</a>
						<label ng-show="IsVisiblePronsTitle">Pron's Title:-{{title}}</label>
						<textarea ng-show="IsVisiblePronsTitle" ng-enter="hidePronsTextArea()" ng-hide="!IsVisiblePronsTextArea" onkeyup="this.style.height='24px'; this.style.height = this.scrollHeight + 12 + 'px';" class="form-control" ng-model="title"></textarea>
					
						<input type="button" ng-hide="count==true" class="btn btn-link pull-right" ng-click="addItem()" value="Add list item">


					</td>
					<td>
						<a class="title" ng-click="ShowHideConsTitle()" ng-hide="IsVisibleConsTitle">{{app.title.cons}}</a>
						<label ng-show="IsVisibleConsTitle">con's Title:-{{constitle}}</label>
						<textarea ng-show="IsVisibleConsTitle" ng-enter="hideConsTextArea()" ng-hide="!IsVisibleConsTextArea" ng-model="constitle" onkeyup="this.style.height='24px'; this.style.height = this.scrollHeight + 12 + 'px';" class="form-control"></textarea>
						<input type="button" ng-hide="count==true" class="btn btn-link pull-right" ng-click="addItem()" value="Add list item">
					</td>
				</tr>
				<tbody ui-sortable >
				
					<tr ng-repeat="task in listItem track by $index">
						
						<td>
							
							{{task}}
							<textarea data-ng-hide="hide"  ng-trim="false" ng-enter="addItem()" ng-change="change(remove)" ng-model="remove" id="text" onkeyup="this.style.height='24px'; this.style.height = this.scrollHeight + 12 + 'px';" class="form-control" placeholder="Enter Item "></textarea>


						</td>
						<td>
								{{task}}
								<textarea data-ng-hide="hide" ng-trim="false" id="text" ng-enter="addItem()" ng-change="change(remove1)" ng-model="remove1"  onkeyup="this.style.height='24px'; this.style.height = this.scrollHeight + 12 + 'px';" class="form-control" placeholder="Enter Item "></textarea>
							

						</td>

					</tr>
				</tbody>

			</table>

		</div>

	</div>
</body>

</html>